<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <script src="https://kit.fontawesome.com/4a9c518b56.js" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/style.css" />
      
        <title>Korean skincare tracker</title>
      </head>
      
<body>
    <header>
     <!-- Header -->
        <div class="logo-container">
            <a href="/" class="logo"><img src="css/assets/KoreanSkincaregrprt-logo.png" alt=""></a>
        
            
        </div>
       
        <div class="logOut">
         <a href="/logout">Logout</a>
        </div>
        
    </header>
    <!-- End of header -->

    <section class="routine-selector-container">
        <h2 class="morning-selected">morning</h2>
        <h2 class="night-selected">evening</h2>
    </section>


    <section id="morning-routine" class="routine">
        <h1>Welcome <%= user.userName %>, here's your morning skincare routine.</h1>
        <form action="/todos/createTodo" method='POST'>
            <input type="text" placeholder="Enter Todo Item" name='todoItem'>
            <input type="submit">
        </form>
        <ul>
            <% todos.forEach( el => { %>
            <li class='todoItem' data-id='<%=el._id%>'>
                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                <span class='del'> Delete </span>
            </li>
            <% }) %>    
        </ul>
        <h2><%= user.firstName %> has <%= left %> steps left to do.</h2>
    </section>

    <section id="night-routine" class="routine hide">
        <h1>Welcome <%= user.userName %>, here's your evening skincare routine.</h1>
        <form action="/todos/createTodo" method='POST'>
            <input type="text" placeholder="Enter Todo Item" name='todoItem'>
        <input type="submit">
    </form>
    <ul>
        <% todos.forEach( el => { %>
            <li class='todoItem' data-id='<%=el._id%>'>
                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                <span class='del'> Delete </span>
            </li>
        <% }) %>    
    </ul>
    <h2><%= user.firstName %> has <%= left %> steps left to do.</h2>

    </section>
   
    <footer></footer>
    <script src="js/main.js"></script>
</body>
</html>